name: Python package

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version}}
    - name: Install Tox and any other packages
      run: pip install tox
    - name: Run Tox
      env: 
        RAPID_API_TOKEN: ${{secrets.RAPID_API_TOKEN}}
      # Run tox using the version of Python in `PATH`
      run: tox -e py
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
        verbose: true